.home__bg {
    background-image: url(https://wallpaperaccess.com/full/7985324.jpg);
    height: 92vh;
    /* height: 50rem;
    width: 50rem; */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow-x: hidden;
}

.home-message-icon {
    margin-left: 10px;
    display: inline-block;
     
}
.footer{
    margin-top: 5%;
    background-color: #4e84ef;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.social-icon{
    margin: 15px 0px;
    width: 200px;
    display: flex;
    justify-content: space-evenly;
}
.personal-info{
    margin-bottom: 15px;
}
.personal-info>h6,h4,a{
    text-align: center;
}
.personal-info>p{
    margin-bottom: auto;
}
.icon{
    width: 35px;
    height: 35px;
}
.symbol{
    color: #898497;
    /* display: none; */
}
.home{
    background-color: #898497;
}
.main{
    background-color: burlywood;
}